<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
       <section class="wrapper">
         {{>header}}
         <h1>Error: {{error}}</h1>
         {{>footer}}
       </section>
    </body>
</html>